
.start
{
	background-color:red;
	color:white;
	font-size:30px;
	margin:auto;
}
p.detail
{
	font-size:18px;
}
div.outer
{
	border:1px;
	width:70%;
	margin:auto;
	border-left:1px solid;
	border-right:1px solid;
	border-top:1px solid;
	border-bottom:1px solid; /*it can be written as border:1px solid; also */
	padding: 10px 40px;
	box-shadow:10px 0 10px -10px ,-10px 0 10px -10px;
	background-color:white;
}
body
{
	background-color:#A9A9A9;
}
.border
{
	border-radius:4px;
	display:table-cell;
	box-shadow: 3px 3px 3px #A9A9A9;
}
input:focus
{
	box-shadow: 3px 3px 3px green;
}
select:focus
{
	outline: none;
	box-shadow: 0 0 8px green;
}

.container
{
	display:table;
	padding-left:160px;
	font-size:15px;
}
.right
{
	text-align:right;
}
.set
{
	width:210px;
	border-radius:8px;
	box-shadow: 5px 5px 10px #A9A9A9;
}
.column
{
	display:table-cell;
	padding-bottom:.8em;
}
.row
{
	display:table-row;
}
.right
{
	text-align:right;
}
.btn
{
	background-color:red;
	border:1px solid red;
	border-radius:3px;
	color:white;
	text-align:center;
	font-size:15px;
}
.height
{
		height:28px;
}
.footer
{
	background-color:#A9A9A9;
	text-align:center;
	clear:both;
	padding:4px;
}